<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Total Football</title>
        <link rel="stylesheet" href="../static/login.css">
    </head>

    <body>
        <div class="header-box" id="id_header_div">
            <div class="centered" id="id_site_name">
                <a href="/homepage">Total Football</a>
            </div>
            <div class="bottom" id="id_nav_profile">
                <a href="{% url 'profile' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>
            </div>
            <div class="bottom" id="id_nav_global_stream">
                <a href="/select-lineup">Select Lineup</a>
            </div>
            <div class="bottom" id="id_nav_follower_stream">
                <a href="/my-team">My Team</a>
            </div>
            <div class="bottom" id="id_nav_follower_stream">
                <a href="/create-league">Create League</a>
            </div>
            <div class="bottom" id="id_nav_follower_stream">
                <a href="/join-league">Join League</a>
            </div>
            <div class="bottom" id="id_nav_logout">
                <a href="/logout">Logout</a>
            </div>
        </div>

        <h1>Join a League</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Join League</button>
        </form>
    </body>
</html>

