{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/header.css">
{% endblock %}

{% block content %}
        <div>
            <h1>{{ league.name }}</h1>
            <p>Code: {{ league.code }}</p>

            {% if show_members_for_draft %}
                <h2>League Members (Draft Needed)</h2>
                <ul>
                    {% for member in league.members.all %}
                        <li>{{ member.username }}</li>
                    {% empty %}
                        <li>No members in this league yet.</li>
                    {% endfor %}
                </ul>
            {% else %}
                <h2>Teams in this League</h2>
                <ul>
                    {% for team in league.league_teams.all %}
                        <li>{{ team.user.username }} - Total Points: {{ team.calculated_points }}</li>
                    {% empty %}
                        <li>No teams in this league yet.</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="bottom" id="id_nav_draft">
            <a href="{% url 'draft' league_id=league.id %}">Draft Players</a>
        </div>

{% endblock %}
